# Backend API
fastapi==0.110.0
uvicorn==0.29.0

# Machine Learning
scikit-learn==1.4.2
numpy==1.26.4

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# Environment
python-dotenv==1.0.1

# Serialization
joblib==1.4.2

# Validation
pydantic==2.7.1